#dependencies
node_modules/

#invironment variables
.env

#nodeEmail files
package-lock.json
package.json

# logs
npm-debug.log*

#OS files
.DS_Store

#other start/ stop files
#bat file 
start.bat
stop.bat
#shfiles
start.sh
stop.sh
#js files
stop.js

